<section class="contact-overlay">
  <a id="contact-overlay-esc" href="#" class="contact-overlay-esc"><span></span></a>
  <ul class="contact-icons">
    <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="phone">Call Me</a></li>
    <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="resume">Download Resume</a></li>
    <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="email">Email Me</a></li>
  </ul>
  <a href="mailto:holly.bowden@gmail.com"><h1 class="contact-callout">Let's Chat</h1></a>
</section>
