<section class="contact-overlay">
  <a id="contact-overlay-esc" href="#" class="contact-overlay-esc"><span></span></a>
  <ul class="contact-icons">
    <li class="contact-icons_item"><a href="tel:+12066197932" class="contact-icons_item-link" data-link="phone">Call Me</a></li>
    <li class="contact-icons_item"><a href="{{ site.url }}assets/holly_bowden_resume.pdf" class="contact-icons_item-link" data-link="resume">Download Resume</a></li>
    <li class="contact-icons_item"><a href="email:bowden.holly@gmail.com" class="contact-icons_item-link" data-link="email">Email Me</a></li>
  </ul>
  <h1 class="contact-callout">Let's Chat</h1>
</section>
