<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- build:js assets/javascript/all.min.js -->
<script src="assets/javascript/headroom.js"></script>
<script src="assets/javascript/jquery.smoothState.js"></script>
<script src="assets/javascript/main.js"></script>
<!-- endbuild -->
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64911835-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics -->
</body>
</html>
