    <footer class="footer">
      {% if page.title != 'Home' %}
      <a href="index.html#work" class="footer-back f-h f-4">BACK</a>
      {% endif %}
      <div class="footer-social-links">
        <ul class="footer-social-icons">
          <li class="footer-social-icons_item"><a href="http://www.facebook.com/HollyMBowdenDesigner" target="_blank" class="footer-social-icons_link">Facebook</a></li>
          <li class="footer-social-icons_item"><a href="http://www.linkedin.com/pub/holly-bowden/26/183/49a" target="_blank" class="footer-social-icons_link">LinkedIn</a></li>
          <li class="footer-social-icons_item"><a href="http://www.twitter.com/HollyBowden" target="_blank" class="footer-social-icons_link">Twitter</a></li>
          <li class="footer-social-icons_item"><a href="http://www.tumblr.com" target="_blank" class="footer-social-icons_link">Tumblr</a></li>
          <li class="footer-social-icons_item"><a href="http://www.instagram.com/himynameis_holly/" target="_blank" class="footer-social-icons_link">Instagram</a></li>
        </ul>
      </div>
    </footer>

    <div class="loading-overlay"></div>
