    <footer class="footer">
      {% if page.title != 'Home' %}
      <a href="index.html#work" class="footer-back f-h f-4">BACK</a>
      {% endif %}
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- build:js assets/javascript/all.min.js -->
    <script src="assets/javascript/headroom.js"></script>
    <script src="assets/javascript/scrollReveal.js"></script>
    <script src="assets/javascript/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
