    <footer class="footer scene_element scene_element--fadeUpFooter">
      <div class="footer-social-links">
        <ul class="footer-social-icons">
          <li class="footer-social-icons_item">
            <a href="http://www.instagram.com/himynameis_holly" target="_blank">
              <svg class="footer-social-icon icon-instagram">
                <use xlink:href="#instagram">
              </svg>
            </a>
          </li>
          <li class="footer-social-icons_item">
            <a href="http://www.facebook.com/HollyMBowdenDesigner" target="_blank">
              <svg class="footer-social-icon icon-facebook">
                <use xlink:href="#facebook">
              </svg>
            </a>
          </li>
          <li class="footer-social-icons_item">
            <a href="http://www.linkedin.com/pub/holly-bowden/26/183/49a" target="_blank">
              <svg class="footer-social-icon icon-linkedin">
                <use xlink:href="#linkedin">
              </svg>
            </a>
          </li>
          <li class="footer-social-icons_item">
            <a href="http://www.twitter.com/HollyBowden" target="_blank">
              <svg class="footer-social-icon icon-twitter">
                <use xlink:href="#twitter">
              </svg>
            </a>
          </li>
          <li class="footer-social-icons_item">
            <a href="http://www.tumblr.com" target="_blank">
              <svg class="footer-social-icon icon-tumblr">
                <use xlink:href="#tumblr">
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <div class="loading-overlay"></div>
