<header class="header index-header">
  <div class="header-figure">
    <img src="assets/images/index-header/notebook.png" alt="">
  </div>
  <section class="header-copy index-header-copy-yaxis index-header-copy">
    <div class="index-header-copy-xaxis">
      <p class="uppercase f-1-5">Hi, my name is Holly and I'm a</p>
      <div class="index-header-copy-adjectives">
        <span class="adjective">Graphic</span>
        <span class="adjective">Designer</span>
      </div>
      <div class="index-header-shuffle"></div>
    </div>
  </section>
  <div class="clearfix"></div>
</header>
