<header class="header fix-height index-header scene_element scene_element--fadeinLeft">
  <img class="index-header-image" src="{{ "/assets/images/index-header/notebook.jpg" | prepend: site.url }}" alt="Process notebook" />
  <div class="header-text-container">
    <p class="slogan uppercase">Hi, my name is Holly and I' m a</p>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Graphic</span>
      <span class="adjective">Designer</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Ravenclaw</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Simlish</span>
      <span class="adjective">Translator</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Star Trek</span>
      <span class="adjective">Enthusiast</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Problem</span>
      <span class="adjective">Solver</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Logic</span>
      <span class="adjective">Lover</span>
    </div>
    <div class="index-header-copy-adjectives cycleThru">
      <span class="adjective">Dog</span>
      <span class="adjective">Person</span>
    </div>

    <div class="index-header-shuffle"></div>
  </div>

</header>
