<header class="header index-header scene_element scene_element--fadeinLeft">
  <section class="header-copy index-header-copy-yaxis index-header-copy">
    <div class="index-header-copy-xaxis">
      <p class="fittext uppercase f-1-5">Hi,&nbsp;my&nbsp;name&nbsp;is&nbsp;Holly&nbsp;and&nbsp;I'm&nbsp;a</p>
      <div class="index-header-copy-adjectives">
        <span class="adjective">Graphic</span>
        <span class="adjective">Designer</span>
      </div>
      <div class="index-header-shuffle"></div>
    </div>
  </section>
</header>
