<nav id="nav" class="nav">
  <h1 class="hidden">Holly Bowden</h1>
  <a href="{{ site.url }}"><div class="nav-logo logo"></div></a>
  <a href="#" class="nav-button"><span></span></a>
  <ul class="nav-list">
    <li class="nav-list-item f-2">
      {% if page.url == '/index.html' %}
      <a id="work-button" href="#work">Work</a>
      {% else %}
      <a id="work-button" href="{{ site.url }}#work">Work</a>
      {% endif %}
    </li>
    <li class="nav-list-item f-2"><a id="contact-button" href="#">Contact</a></li>
    <li class="social-links">
      <ul class="social-icons">
          <li class="social-icons_item">
            <a href="http://www.instagram.com/himynameis_holly" target="_blank">
              <svg class="nav-social-icon icon-instagram">
                <use xlink:href="#instagram">
              </svg>
            </a>
          </li>
          <li class="social-icons_item">
            <a href="http://www.facebook.com/HollyMBowdenDesigner" target="_blank">
              <svg class="nav-social-icon icon-facebook">
                <use xlink:href="#facebook">
              </svg>
            </a>
          </li>
          <li class="social-icons_item">
            <a href="http://www.linkedin.com/pub/holly-bowden/26/183/49a" target="_blank">
              <svg class="nav-social-icon icon-linkedin">
                <use xlink:href="#linkedin">
              </svg>
            </a>
          </li>
          <li class="social-icons_item">
            <a href="http://www.twitter.com/HollyBowden" target="_blank">
              <svg class="nav-social-icon icon-twitter">
                <use xlink:href="#twitter">
              </svg>
            </a>
          </li>
          <li class="social-icons_item">
            <a href="http://www.tumblr.com" target="_blank">
              <svg class="nav-social-icon icon-tumblr">
                <use xlink:href="#tumblr">
              </svg>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</nav>
