<div class="paginate-container paginate-hidden scene_element scene_element--fadeUp">
  {% if page.previous %}
    <a class="paginate-previous" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
  {% else %}
    <a class="paginate-previous" href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>
  {% endif %}
  {% if page.next %}
    <a class="paginate-next" href="{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
    {% assign size = site.posts | size | minus: 1 %}
    <a class="paginate-next" href="{{ site.posts[size].url }}">{{ site.posts[size].title }}</a>
  {% endif %}
</div>
