
.footer {
  width: 100%;
  height: 200px;
  // margin-top: -100px;
  background: $pink;
  z-index: $z-navigation;
}

.footer-back {
  display: block;
  width: 100%;
  text-align: center;
}

/*
.social-icons {
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  list-style:  none;
  text-align: center;
  @include mediaquery(phabletplus) {
    display: block;
  }
}
.social-icons_item {
  display: table-cell;
  padding: 10px;
  $dimension: 100px;
  width: $dimension;
  height: $dimension;
  @include mediaquery(phablet) {
    $dimension: 80px;
    width: $dimension;
    height: $dimension;
  }
  @include mediaquery(phabletplus) {
    display: inline-block;
  }
  @include mediaquery(tabletplus) {
    $dimension: 100px;
    width: $dimension;
    height: $dimension;
  }
}

$icon-facebook: #53be93;
$icon-linkedin: #92c3ce;
$icon-twitter: #db98e5;
$icon-tumblr: #c2cde9;
$icon-instagram: #f79e86;

.social-icons_link {
  display: block;
  $dimension: 70px;
  width: $dimension;
  height: $dimension;
  background-size: cover;
  background-repeat: no-repeat;
  @include hide-text;
  &[href^="http://www.facebook"] {
    background-image: url('#{$IMG_DIR}/icons/facebook.svg');
  }
  &[href^="http://www.twitter"] {
    background-image: url('#{$IMG_DIR}/icons/twitter.svg');
  }
  &[href^="http://www.linkedin"] {
    background-image: url('#{$IMG_DIR}/icons/linkedin.svg');
  }
  &[href^="http://www.tumblr.com"] {
    background-image: url('#{$IMG_DIR}/icons/tumblr.svg');
  }
  &[href^="http://www.instagram.com"] {
    background-image: url('#{$IMG_DIR}/icons/instagram.svg');
  }
  @include mediaquery(desktop) {
    border-radius: 100%;
    border: 20px solid $pink;
    &:hover {
      background-color: $pink;
      background-size: cover;
      border-radius: 0;
      border: 0;
    }
    &[href^="http://www.facebook"] {
      background-color: $icon-facebook;
      &:hover {
        background-color: transparent;
      }
    }
    &[href^="http://www.twitter"] {
      background-color: $icon-twitter;
      &:hover {
        background-color: transparent;
      }
    }
    &[href^="http://www.linkedin"] {
      background-color: $icon-linkedin;
      &:hover {
        background-color: transparent;
      }
    }
    &[href^="http://www.tumblr.com"] {
      background-color: $icon-tumblr;
      &:hover {
        background-color: transparent;
      }
    }
    &[href^="http://www.instagram.com"] {
      background-color: $icon-instagram;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

*/
