html, body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  background-color: $background-color;
  color: $body-color;
}
.logo {
  position: relative;
  background-image: url('#{$IMG_DIR}/logo.png');
  background-size: contain;
  z-index: $z-logo;
}
#content {
  // height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
}

/* Helper classes */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.centered-v {
  position: relative;
  top: 50%;
  // left: 50%;
  transform: translateY(-50%);
}
.clearfix {
  clear: both;
  @include clearfix();
}
img {
  max-width: 100%;
}
