/* Header / Hero Styles */
.header {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  overflow: auto;
}
.index-header {
  background-image: url('#{$IMG_DIR}/index-header/notebook.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: auto 80%;
  background-position: center 100px;
  overflow: hidden;
}
.index-header-copy-yaxis {
  position: absolute;
  left: 0; right: 0;
  top: 80%;
}
.index-header-copy-xaxis {
  position: relative;
  // max-width: 24em;
  margin: auto;
  padding-left: 30px;
  // margin-left: 30px; // Moves text away from pen in header figure
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
.index-header-shuffle {
  position: absolute;
  top: -1em;
  left: 53%;
  margin-left: 11em;
  width: 3em;
  height: 6em;
  background-image: url('#{$IMG_DIR}/shuffle.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(-5deg);
  &:active {
    transform: translate3d(0, 2px, 0) rotate(-5deg);
  }
}
.index-header-copy-adjectives {
  margin-top: 10px;
  display: inline;
}
.index-header-copy-adjectives .adjective {
  display: inline-block;
  &:nth-of-type(1) {
    transform: translateX(-10px) rotate(-5deg);
  }
  &:nth-of-type(2) {
    transform: translateX(0) rotate(5deg);
  }
}
@keyframes shuffleOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(10deg);
  }
}

@keyframes shuffleIn {
  0% {
    opacity: 0;
    transform: rotate(10deg);
  }
  100% {
    opacity: 1;
  }
}
.shuffleOut {
  animation: shuffleOut 400ms ease;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
.shuffleIn {
  animation: shuffleIn 400ms ease;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
