/* Header / Hero Styles */
.header {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  overflow: auto;
  overflow-x: hidden;
}
.index-header {
  height: 440px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
.index-header-image {
  margin: 0 auto;
  margin-top: 15px;
  width: 320px;
  height: auto;
  display: block;
}
.header-text-container {
  position: relative;
  margin: 0 auto;
  top: -50px;
  max-width: 320px;
  text-align: center;
}
.slogan {
  font-size: 0.8rem;
  white-space: pre;
}
.index-header-shuffle {
  position: absolute;
  top: -10px;
  right: 15px;
  width: 2em;
  height: 3.2em;
  background-image: url('#{$IMG_DIR}/shuffle.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2000;
  transform: rotate(-7deg);
  &:active {
    transform: translate3d(0, 2px, 0) rotate(-7deg);
  }
}
.index-header-copy-adjectives .adjective {
  position: absolute;
  display: block;
  white-space: pre;
  font-size: 1.5rem;
  &:only-of-type {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  &:not(:only-of-type):nth-child(1) {
    left: 50%;
    transform: translate3d(-100%, 0, 0);
  }
  &:not(:only-of-type):nth-child(2) {
    right: 50%;
    transform: translate3d(100%, 60%, 0);
  }
}
.index-header-copy-adjectives {
  position: absolute;
  margin-top: 7px;
  margin-left: 15%;
  margin-right: 25%;
  display: block;
  min-height: 20px;
  width: 60%;
  opacity: 0;
  &:nth-of-type(1) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-90%, 0, 0) rotate(-3deg);
      }
      &:nth-child(2) {
        right: 50%;
        transform: translate3d(100%, 80%, 0) rotate(2deg);
      }
    }
  }
  // "RAVENCLAW"
  &:nth-of-type(2) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-40%, 0, 0);
      }
    }
  }
  // "SIMLISH TRANSLATOR"
  &:nth-of-type(3) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-100%, 0, 0) rotate(-3deg);
      }
      &:nth-child(2) {
        transform: translate3d(80%, 90%, 0) rotate(1deg);
      }
    }
  }
  // "STAR TREK ENTHUSIAST"
  &:nth-of-type(4) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-80%, 0, 0) rotate(-3deg);
      }
      &:nth-child(2) {
        transform: translate3d(85%, 100%, 0) rotate(1deg);
      }
    }
  }
  // "PROBLEM SOLVER"
  &:nth-of-type(5) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-75%, 0, 0) rotate(-3deg);
      }
      &:nth-child(2) {
        transform: translate3d(125%, 70%, 0) rotate(2deg);
      }
    }
  }
  // "LOGIC LOVER"
  &:nth-of-type(6) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-90%, 0, 0);
      }
      &:nth-child(2) {
        transform: translate3d(125%, 0, 0);
      }
    }
  }
  // "DOG PERSON"
  &:nth-of-type(7) {
    .adjective {
      &:nth-child(1) {
        transform: translate3d(-100%, 0, 0) rotate(-3deg);
      }
      &:nth-child(2) {
        transform: translate3d(100%, 60%, 0) rotate(1deg);
      }
    }
  }
}
@keyframes shuffleOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shuffleIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shuffleOut {
  animation: shuffleOut 400ms ease;
  opacity: 0;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
.shuffleIn {
  animation: shuffleIn 400ms ease;
  opacity: 100;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
