/* Header / Hero Styles */
.header {
  position: relative;
  width: 100%;
  padding-top: 70px;
  overflow: auto;
}
.index-header {
  background-image: url('#{$IMG_DIR}/index-header/notebook.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: auto 80%;
  background-position: center 100px;
  overflow: hidden;
}
.index-header-copy-yaxis {
  position: absolute;
  left: 0; right: 0;
  top: 80%;
}
.index-header-copy-xaxis {
  position: relative;
  width: 100%;
  margin: auto;
  margin-left: 30px; // Moves text away from pen in header figure
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
.index-header-shuffle {
  position: absolute;
  top: 0;
  left: 66%;
  width: 100px;
  height: 100px;
  background-color: $teal;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    background-color: $red;
  }
}
.index-header-copy-adjectives {
  margin-top: 10px;
  display: inline;
}
.index-header-copy-adjectives .adjective {
  display: inline-block;
  &:nth-of-type(1) {
    transform: translateX(-10px) rotate(-10deg);
  }
  &:nth-of-type(2) {
    transform: translateX(10px) rotate(5deg);
  }
}
@keyframes shuffleOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(20deg);
  }
}

@keyframes shuffleIn {
  0% {
    opacity: 0;
    transform: rotate(20deg);
  }
  100% {
    opacity: 1;
  }
}
.shuffleOut {
  animation: shuffleOut 400ms ease;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
.shuffleIn {
  animation: shuffleIn 400ms ease;
  // &:nth-of-type(2) {
  //   animation-direction: reverse;
  // }
}
