.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid #e0dfdb;
  z-index: $z-navigation;
  transform: translateZ(0);
  transition: all 400ms ease-in;
}

.nav-logo {
  width: 80px;
  height: 80px;
  margin: 17px 50px;
  float: left;
}

.nav-list {
  margin: 30px;
  list-style: none;
  float: right;
}

.nav-list-item {
  display: inline;
  margin-left: _ems(10);
  &:nth-of-type(1) {
    color: $blue;
  }
  &:nth-of-type(2) {
    color: $orange;
  }
  &:nth-of-type(3) {
    color: $perriwinkle;
  }
  &:nth-of-type(4) {
    color: $green;
  }
  a {
    transition: opacity 400ms ease-in;
  }
  a:hover {
    opacity: 0.7;
  }
}

.nav-button {
  display: none;
  float: right;
  position: relative;
  top: 15px;
  right: 0.5em;
  cursor: pointer;
  margin: 1em;
  $width: 2em;
  $stroke: 5px;
  width: $width;
  height: $width;
  span, span:before, span:after {
    display: block;
    content: "";
    position: absolute;
    width: $width;
    height: $stroke;
    cursor: pointer;
    border-radius: 1px;
    background: $grey;
    transition: all 200ms ease;
  }
  span:before {
    top: -($stroke * 2);
  }
  span:after {
    bottom: -($stroke * 2);
  }
}
.nav-list-open {
  .nav-button {
    span {
      background-color: transparent;
      box-shadow: none;
    }
    span:before, span:after {
      top: 0;
    }
    span:before {
      transform: rotate(45deg);
    }
    span:after {
      transform: rotate(-45deg);
    }
  }
}
.headroom--unpinned {
  transform: translate3d(0,-100%,0);
}
