.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid #e0dfdb;
  z-index: $z-navigation;
  transform: translateZ(0);
  transition: all 400ms ease-in;
}
.nav-logo {
}

.nav-logo {
  margin: 10px 15px;
  width: 60px;
  height: 60px;
  float: left;
  transition: opacity 400ms ease;
}

.nav-list {
  margin: 15px 50px 10px 0;
  list-style: none;
  float: right;
}

.nav-list-item {
  display: inline;
  margin-left: _ems(10);
  &:nth-of-type(1) {
    color: $blue;
  }
  &:nth-of-type(2) {
    color: $orange;
  }
  &:nth-of-type(3) {
    color: $perriwinkle;
  }
  &:nth-of-type(4) {
    color: $green;
  }
  a {
    transition: opacity 400ms ease-in;
  }
  a:hover {
    opacity: 0.5;
  }
}

.nav-button {
  display: none;
  float: right;
  position: relative;
  top: 15px;
  right: 0.5em;
  cursor: pointer;
  margin: 1em;
  $width: 45px;
  $stroke: 10px;
  width: $width;
  height: $width;
  span, span:before, span:after {
    display: block;
    content: "";
    position: absolute;
    width: $width;
    height: $stroke;
    cursor: pointer;
    border-radius: 1px;
    background: $pink;
    transition: all 200ms ease;
  }
  span:before {
    top: -( $stroke * 1.4 );
    background: $blue;
  }
  span:after {
    bottom: -( $stroke * 1.4 );
    background: $perriwinkle;
  }
}
.nav-list-open {
  .nav-button {
    span {
      background-color: transparent;
      box-shadow: none;
    }
    span:before, span:after {
      top: 0;
      background: white;
    }
    span:before {
      transform: rotate(45deg);
    }
    span:after {
      transform: rotate(-45deg);
    }
  }
}
.headroom--unpinned {
  transform: translate3d(0,-100%,0);
}

.social-icons {
  display: none;
  margin: 3em 0;
  text-align: center;
}

.social-icons_item {
  display: inline-block;
  // padding: 10px;
  $dimension: 15%;
  width: $dimension;
  height: $dimension;
}
.social-icons_link {
  display: block;
  margin: 0 auto;
  $dimension: 50px;
  width: $dimension;
  height: $dimension;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 400ms ease;
  @include hide-text;
  &[href^="http://www.facebook"] {
    background-image: url('#{$IMG_DIR}/icons/facebook.svg');
  }
  &[href^="http://www.twitter"] {
    background-image: url('#{$IMG_DIR}/icons/twitter.svg');
  }
  &[href^="http://www.linkedin"] {
    background-image: url('#{$IMG_DIR}/icons/linkedin.svg');
  }
  &[href^="http://www.tumblr.com"] {
    background-image: url('#{$IMG_DIR}/icons/tumblr.svg');
  }
  &[href^="http://www.instagram.com"] {
    background-image: url('#{$IMG_DIR}/icons/instagram.svg');
  }
  &:hover {
    opacity: 0.5;
  }
}
