/* Single Post Styles */
.post-header-title {
  margin-top: 100px;
  margin-bottom: 100px;
}
.project-logo {
  margin: 0 auto 1em auto;
  &:before, &:after {
    content: '';
    display: block;
    position: relative;
    top: 54%;
    width: 80px;
    height: 2px;
  }
  &:before {
    left: -90px;
  }
  &:after {
    left: calc(100% + 10px);
  }
}
.project-title {
  text-align: center;
}
.post-header-copy {
  margin: 0 auto;
  width: 90%;
}
.project-categories {
  list-style: none;
  float: left;
  width: 20%;
}
.project-description {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 40px;
  padding: 0 40px;
}
.post-container img {
  width: 100%;
}

.post-sixohfive {
  $color: #b4d361;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-ww {
  $color: #f8a18a;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-sqtm {
  $color: #e27171;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-mos {
  $color: #de4344;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-julep {
  $color: #b982b9;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-do {
  $color: #6e6f2e;
  .project-title {
    color: $color;
  }
  .project-logo {
    &:before, &:after {
      background-color: $color;
    }
  }
}
.post-zulily {
  $color: inherit;
  .project-title {
    color: #5d6785;
  }
  .project-logo {
    &:before, &:after {
      background-color: #dfdfde;
    }
  }
}
