/* Project list */
.project-list {
  position: relative;
  list-style: none;
  margin: 0 auto 100px auto;
  max-width: 1200px;
  padding: 0;
  @include clearfix();
}
.project-list-item {
  display: block;
  width: 33.33%;
  float: left;
  margin-bottom: 5em;
}
.project-list-link {
  margin: 0 auto;
  position: relative;
  display: block;
  $width: 300px;
  width: $width;
  height: $width;
}
.project-list-thumbnail, .project-list-thumbnail__hover {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.project-list-thumbnail {

}
.project-list-thumbnail__hover {
  opacity: 0;
  transition: opacity 200ms ease-in;
  &:hover {
    opacity: 1;
  }
}
