/* MEDIAQUERIES */

/* Mobile Only - Very Small Screens */

@media screen and (max-width: 800px) {
  .f-5 {
    font-size: 2em;
  }
  .f-2 {
    font-size: _ems(20);
  }
  .nav {
    height: 70px;
  }
  .nav-logo {
    width: 60px;
    height: 60px;
    margin: 5px 15px;
    transition: opacity 400ms ease;
  }
  .nav-button {
    display: block;
    z-index: $z-navigation;
  }
  .nav-list {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: transparentize($perriwinkle, 0.1);
    margin: 0;
    padding: 80px 0 0 0;
    @include clearfix();
    transition: all 400ms ease;
    transform: translate3d(0,-100%,0);
    .f-2 {
      font-size: 4em;
    }
  }
  .nav-list-item {
    display: block;
    position: relative;
    margin-left: 0;
    padding: 0;
    text-align: center;
    color: white !important
  }
  // States for open nav-list
  .nav-list-open {
    .nav-logo {
      opacity: 0.5;
    }
    .nav-list {
      transform: translate3d(0,0,0);
    }
    .headroom--unpinned .nav-list {
      transform: translate3d(0,-100%,0);
    }
  }
  .social-icons {
    display: block;
  }
  .project-list-filter {
    margin-bottom: 100px;
  }
  .filter-list-category {
    display: block;
    width: 100%;
    height: 40px;
    span {
      font-size: 59px;
      line-height: 0.7;
    }
  }
  .project-list {
    margin-bottom: 0;
  }
  .project-list-item {
    width: 50%;
    margin-bottom: 2em;
  }
  .project-list-link {
    width: 200px;
    height: 200px;
  }
  .post-header-title {
    margin-top: 3em;
    margin-bottom: 1em;
  }
  .project-list-thumbnail__hover {
    opacity: 0;
    &:hover, &:active {
      opacity: 1;
    }
  }
  .project-categories {
    float: none;
    clear: both;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }
  .project-category {
    display: inline;
    margin-right: 1em;
    &:after {
      content: '|';
      position: relative;
      left: 0.5em;
    }
    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
  .project-description {
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 0;
  }
  .footer-social-icons {
    display: none;
    visibility: hidden;
  }
  .project-logo:before, .project-logo:after {
    width: 50%;
  }
  .project-logo:before {
    left: -50%;
  }
  .project-logo:after {
    left: 100%;
  }
}
@media screen and (max-width: 400px) {
  .project-list-item {
    width: 100%;
  }
  .project-list-link {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .project-list-item {
    width: 33%;
  }
  .project-list-link {
    width: 200px;
    height: 200px;
  }
}
@media screen and (orientation: landscape) and (max-width: 800px) {
  .nav-list {
    font-size: 0.5em;
  }
}
/* Tablet breakpoint for header layout */
@media screen and (min-height: 601px) and (min-width: 767px) {
  html {
    font-size: 1.2em;
  }
  .index-header {
    height: 800px;
  }
  .index-header-image {
    width: 768px;
  }
  .header-text-container {
    top: -145px;
    max-width: 700px;
  }
  .slogan {
    font-size: 1.1em;
  }
  .index-header-copy-adjectives .adjective {
    font-size: 2.3em;
  }
  .index-header-shuffle {
    height: 4.5em;
    top: 0px;
    right: 50px;
  }
}
@media screen and (max-height: 600px) and (min-width: 767px) {
  // body {
  //   background-color: green;
  // }
  .index-header {
    height: 560px;
  }
  .index-header-image {
    width: 530px;
  }
  .header-text-container {
    top: -100px;
    max-width: 500px;
  }
  .slogan {
    font-size: 0.8em;
  }
  .index-header-copy-adjectives .adjective {
    font-size: 2em;
  }
  .index-header-shuffle {
    height: 3.5em;
    top: 0px;
    right: 50px;
  }
}
