.sprite {
  background-image: url("../images/sprite.png");
}
.sprite-mos-icon {
  background-position: -0px -0px;
  width: 208px;
  height: 118px;
}
.sprite-sixohfive-icon {
  background-position: -0px -118px;
  width: 184px;
  height: 118px;
}
.sprite-do-icon {
  background-position: -0px -236px;
  width: 108px;
  height: 136px;
}
.sprite-julep-icon {
  background-position: -0px -372px;
  width: 38px;
  height: 138px;
}
.sprite-sqtm-icon {
  background-position: -0px -510px;
  width: 113px;
  height: 138px;
}
.sprite-zulily-icon {
  background-position: -0px -648px;
  width: 148px;
  height: 142px;
}
.sprite-ww-icon {
  background-position: -0px -790px;
  width: 108px;
  height: 161px;
}