// Color variables
$blue: #93c3cf;
$orange: #f59f88;
$perriwinkle: #c2cde9;
$green: #53be92;
$pink: #f5cdd8;
$offblack: #343434;
$grey: #58595b;

$background-color: white;
$body-color: $offblack;

// Set fontstack variables
$bodyfont: 'mount', georgia, serif;
$headerfont: 'futura-pt', sans-serif;

// Directory settings
$IMG_DIR: '../images';

// Z-index scale
$z-logo      : 3000;
$z-navigation: 2000;
