.sprite {
  background-image: url("../images/sprite.png");
}
.sprite-mos-icon {
  background-position: -0px -0px;
  width: 86px;
  height: 51px;
}
.sprite-sixohfive-icon {
  background-position: -0px -51px;
  width: 88px;
  height: 58px;
}
.sprite-zulily-icon {
  background-position: -0px -109px;
  width: 68px;
  height: 65px;
}
.sprite-ww-icon {
  background-position: -0px -174px;
  width: 58px;
  height: 84px;
}
.sprite-do-icon {
  background-position: -0px -258px;
  width: 68px;
  height: 85px;
}
.sprite-sqtm-icon {
  background-position: -0px -343px;
  width: 83px;
  height: 101px;
}
.sprite-julep-icon {
  background-position: -0px -444px;
  width: 31px;
  height: 108px;
}