---
layout: default
---
<header class="header post-header post-{{ page.shortcode }} scene_element scene_element--fadeUp">
  <section class="post-header-title">
    <div class="project-logo sprite sprite-{{ page.shortcode }}-icon"></div>
    <h1 class="project-title heavy fittext">{{ page.title }}</h1>
  </section>
  <section class="header-copy post-header-copy grey">
    <ul class="project-categories">
      {% for duty in page.duties %}
      <li class="project-category f-2">{{ duty }}</li>
      {% endfor %}
    </ul>
    <div class="project-description f-h">
      {{ page.description }}
    </div>
  </section>
  <div class="clearfix"></div>
</header>
<main role="main" class="main post-container scene_element scene_element--fadeUp">
  {{ content }}
</main>
{% include paginate.html %}
