---
layout: default
---
<header class="header post-header post-{{ page.shortcode }}">
  <section class="post-header-title">
    <div class="project-logo" style="background-image:url('{{ site.url }}/assets/images/projects/{{ page.shortcode }}/icon.png')"></div>
    <h1 class="project-title f-5 heavy fittext">{{ page.title }}</h1>
  </section>
  <section class="header-copy post-header-copy teal">
    <ul class="project-categories">
      {% for category in page.categories %}
      <li class="project-category f-h f-2 heavy">{{ category }}</li>
      {% endfor %}
    </ul>
    <div class="project-description">
      {{ page.description }}
    </div>
  </section>
  <div class="clearfix"></div>
</header>
<main role="main" class="main post-container">
  {{ content }}
  <!-- <img data-sr src="assets/images/projects/mos/01.jpg" alt=""> -->
</main>
