---
layout: default
---
{% include main-header.html %}

<main id="work" role="main" class="main project-list-container">
  <aside class="project-list-filter">
    <ul class="filter-list">
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Print</a></li>
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Web</a></li>
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Etc</a></li>
    </ul>
  </aside>
  <ul class="project-list">
    {% for post in site.posts %}
    <li data-sr class="project-list-item"><a class="project-list-link" href="{{ post.url }}">
        <h1 class="project-list-title hidden">{{ post.title }}</h1>
        <img src="assets/images/thumbnails/{{ post.shortcode }}_name.svg" alt="{{ post.title }}" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover" style="background-image:url('assets/images/thumbnails/{{ post.shortcode }}_icon.svg')">
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
