---
layout: default
title: Home
---
{% include main-header.html %}

<main id="work" role="main" class="main project-list-container">
  <aside class="project-list-filter">
    <ul class="filter-list">
      <li class="filter-list-category" id="category-print-button"><span>Print</span></li>
      <li class="filter-list-category" id="category-web-button"><span>Web</span></li>
      <li class="filter-list-category" id="category-etc-button"><span>Etc</span></li>
    </ul>
  </aside>
  <ul id="project-list" class="project-list">
    {% for post in site.posts %}
    <li class="project-list-item {% for cat in post.categories %}category-{{ cat }}{% endfor %}"><a class="project-list-link" href="{{ post.url | prepend: site.url }}">
        <h1 class="project-list-title hidden">{{ post.title }}</h1>
        <img src="assets/images/thumbnails/{{ post.shortcode }}_name.svg" alt="{{ post.title }}" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover" style="background-image:url('assets/images/thumbnails/{{ post.shortcode }}_icon.svg')">
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
