---
layout: default
---
{% include main-header.html %}

<main role="main" class="main project-list-container">
  <aside class="project-list-filter">
    <ul class="filter-list">
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Print</a></li>
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Web</a></li>
      <li class="filter-list-category"><a class="heavy uppercase f-h" href="#">Etc</a></li>
    </ul>
  </aside>
  <ul class="project-list">
    {% for post in site.posts %}
    <li data-sr class="project-list-item"><a class="project-list-link" href="{{ post.url }}">
        <h1 class="project-list-title hidden">{{ post.title }}</h1>
        <img src="assets/images/thumbnails/{{ post.shortcode }}_name.svg" alt="{{ post.title }}" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover" style="background-image:url('assets/images/thumbnails/{{ post.shortcode }}_icon.svg')">
        </div>
      </a>
    </li>
    {% endfor %}
    
    <!-- <li data-sr class="project-list-item"><a class="project-list-link" href="#">
        <h1 class="project-list-title hidden">Mo's Espresso</h1>
        <img src="assets/images/thumbnails/mos_name.svg" alt="" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover"><img src="assets/images/thumbnails/mos_icon.svg" alt=""></div>
      </a>
    </li>
    <li data-sr class="project-list-item"><a class="project-list-link" href="#">
        <h1 class="project-list-title hidden">Walker Wedding</h1>
        <img src="assets/images/thumbnails/ww_name.svg" alt="" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover"><img src="assets/images/thumbnails/ww_icon.svg" alt=""></div>
      </a>
    </li>
    <li data-sr class="project-list-item"><a class="project-list-link" href="#">
        <h1 class="project-list-title hidden">Julep</h1>
        <img src="assets/images/thumbnails/julep_name.svg" alt="" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover"><img src="assets/images/thumbnails/julep_icon.svg" alt=""></div>
      </a>
    </li>
    <li data-sr class="project-list-item"><a class="project-list-link" href="#">
        <h1 class="project-list-title hidden">LabConnect</h1>
        <img src="assets/images/thumbnails/lc_name.svg" alt="" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover"><img src="assets/images/thumbnails/lc_icon.svg" alt=""></div>
      </a>
    </li>
    <li data-sr class="project-list-item">
      <a class="project-list-link" href="#">
        <h1 class="project-list-title hidden">Dainty Obsessions</h1>
        <img src="assets/images/thumbnails/do_name.svg" alt="" class="project-list-thumbnail">
        <div class="project-list-thumbnail__hover"><img src="assets/images/thumbnails/do_icon.svg" alt=""></div>
      </a>
    </li> -->
  </ul>
</main>
