*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  border: 0; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none; }

html, body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  background-color: white;
  color: #343434; }

.logo {
  position: relative;
  background-image: url('../images/logo.png');
  background-size: contain;
  z-index: 3000; }

.main {
  width: 100%;
  min-height: 100%; }

/* Helper classes */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered-v {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.clearfix {
  clear: both; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

img {
  max-width: 100%; }

/* Set font-family for Mount: "da-font.com/mount"; created with typesquirrel.com */
@font-face {
  font-family: 'mount_italic';
  src: url('../fonts/MountItalic_PersonalUse-webfont.eot');
  src: url('../fonts/MountItalic_PersonalUse-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MountItalic_PersonalUse-webfont.woff2') format('woff2'), url('../fonts/MountItalic_PersonalUse-webfont.woff') format('woff'), url('../fonts/MountItalic_PersonalUse-webfont.ttf') format('truetype'), url('../fonts/MountItalic_PersonalUse-webfont.svg#mount_italic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mount';
  src: url('../fonts/MountRegular_PersonalUse-webfont.eot');
  src: url('../fonts/MountRegular_PersonalUse-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MountRegular_PersonalUse-webfont.woff2') format('woff2'), url('../fonts/MountRegular_PersonalUse-webfont.woff') format('woff'), url('../fonts/MountRegular_PersonalUse-webfont.ttf') format('truetype'), url('../fonts/MountRegular_PersonalUse-webfont.svg#mount_personal') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  font: 1.2em/1.4 'mount', georgia, serif; }

h1, h2, h3 {
  font: 2em/1 'futura-pt', sans-serif; }

.f-h {
  font-family: 'futura-pt', sans-serif; }

.f-1-5 {
  font-size: 1.25em; }

.f-2 {
  font-size: 1.875em; }

.f-3 {
  font-size: 2.5em; }

.f-4 {
  font-size: 5em; }

.f-5 {
  font-size: 6.25em; }

.teal {
  color: #356988; }

.red {
  color: #de4444; }

.uppercase, .adjective {
  text-transform: uppercase; }

.heavy {
  font-weight: 700; }

.x-heavy {
  font-weight: 800; }

.adjective {
  color: #93c3cf;
  font: 2em/1 'futura-pt', sans-serif;
  font-weight: 700; }

.wf-loading h1, .wf-loading h2, .wf-loading h3 {
  visibility: hidden; }

.wf-loading h1, .wf-loading h2, .wf-loading h3 {
  visibility: visible; }

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease; }

.wf-loading .loading-overlay {
  visibility: visible;
  opacity: 1; }

.wf-active .loading-overlay {
  visibility: hidden;
  opacity: 0;
  -webkit-animation: fade 400ms ease;
          animation: fade 400ms ease; }

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    visibility: visible; }

  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible; }

  100% {
    opacity: 0; } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e0dfdb;
  z-index: 2000;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 400ms ease-in;
          transition: all 400ms ease-in; }

.nav-logo {
  margin: 10px 15px;
  width: 60px;
  height: 60px;
  float: left;
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease; }

.nav-list {
  margin: 15px 50px 10px 0;
  list-style: none;
  float: right; }

.nav-list-item {
  display: inline;
  margin-left: 0.625em; }
  .nav-list-item:nth-of-type(1) {
    color: #93c3cf; }
  .nav-list-item:nth-of-type(2) {
    color: #f59f88; }
  .nav-list-item:nth-of-type(3) {
    color: #c2cde9; }
  .nav-list-item:nth-of-type(4) {
    color: #53be92; }
  .nav-list-item a {
    -webkit-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in; }
  .nav-list-item a:hover {
    opacity: 0.5; }

.nav-button {
  display: none;
  float: right;
  position: relative;
  top: 15px;
  right: 0.5em;
  cursor: pointer;
  margin: 1em;
  width: 45px;
  height: 45px; }
  .nav-button span, .nav-button span:before, .nav-button span:after {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 10px;
    cursor: pointer;
    border-radius: 1px;
    background: #f5cdd8;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease; }
  .nav-button span:before {
    top: -14px;
    background: #93c3cf; }
  .nav-button span:after {
    bottom: -14px;
    background: #c2cde9; }

.nav-list-open .nav-button span {
  background-color: transparent;
  box-shadow: none; }
.nav-list-open .nav-button span:before, .nav-list-open .nav-button span:after {
  top: 0;
  background: white; }
.nav-list-open .nav-button span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
.nav-list-open .nav-button span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.headroom--unpinned {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }

.social-icons {
  display: none;
  margin: 3em 0;
  text-align: center; }

.social-icons_item {
  display: inline-block;
  width: 15%;
  height: 15%; }

.social-icons_link {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease;
  overflow: hidden; }
  .social-icons_link:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  .social-icons_link[href^="http://www.facebook"] {
    background-image: url('../images/icons/facebook.svg'); }
  .social-icons_link[href^="http://www.twitter"] {
    background-image: url('../images/icons/twitter.svg'); }
  .social-icons_link[href^="http://www.linkedin"] {
    background-image: url('../images/icons/linkedin.svg'); }
  .social-icons_link[href^="http://www.tumblr.com"] {
    background-image: url('../images/icons/tumblr.svg'); }
  .social-icons_link[href^="http://www.instagram.com"] {
    background-image: url('../images/icons/instagram.svg'); }
  .social-icons_link:hover {
    opacity: 0.5; }

.contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 120px;
  background: rgba(147, 195, 207, 0.8);
  z-index: 2000;
  -webkit-transform: translate3d(0, calc(-100% - 70px), 0);
          transform: translate3d(0, calc(-100% - 70px), 0);
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
  overflow: hidden; }

.contact-callout {
  font: 9em/0.8 'mount', georgia, serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px; }

.contact-overlay-esc {
  display: block;
  margin: -80px auto 20px auto;
  background: transparent;
  width: 45px;
  height: 45px; }
  .contact-overlay-esc span, .contact-overlay-esc span:before, .contact-overlay-esc span:after {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 10px;
    cursor: pointer;
    border-radius: 1px;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease; }
  .contact-overlay-esc span {
    background-color: transparent;
    box-shadow: none; }
  .contact-overlay-esc span:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
    background-color: white; }
  .contact-overlay-esc span:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
    top: 12px; }

.contact-overlay-open .contact-overlay {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

/* Header / Hero Styles */
.header {
  position: relative;
  width: 100%;
  padding-top: 70px;
  overflow: auto; }

.index-header {
  background-image: url('../images/index-header/notebook.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: auto 80%;
  background-position: center 100px;
  overflow: hidden; }

.index-header-copy-yaxis {
  position: absolute;
  left: 0;
  right: 0;
  top: 80%; }

.index-header-copy-xaxis {
  position: relative;
  width: 100%;
  margin: auto;
  margin-left: 30px;
  text-align: center;
  text-shadow: 1px 1px 0 white; }

.index-header-shuffle {
  position: absolute;
  top: 0;
  left: 66%;
  width: 100px;
  height: 100px;
  background-color: #356988;
  cursor: pointer; }
  .index-header-shuffle:hover {
    opacity: 0.5; }
  .index-header-shuffle:active {
    background-color: #de4444; }

.index-header-copy-adjectives {
  margin-top: 10px;
  display: inline; }

.index-header-copy-adjectives .adjective {
  display: inline-block; }
  .index-header-copy-adjectives .adjective:nth-of-type(1) {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  .index-header-copy-adjectives .adjective:nth-of-type(2) {
    -webkit-transform: translateY(10px) rotate(5deg);
        -ms-transform: translateY(10px) rotate(5deg);
            transform: translateY(10px) rotate(5deg); }

@-webkit-keyframes shuffleOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

@keyframes shuffleOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

@-webkit-keyframes shuffleIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }

  100% {
    opacity: 1; } }

@keyframes shuffleIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }

  100% {
    opacity: 1; } }

.shuffleOut {
  -webkit-animation: shuffleOut 400ms ease;
          animation: shuffleOut 400ms ease; }

.shuffleIn {
  -webkit-animation: shuffleIn 400ms ease;
          animation: shuffleIn 400ms ease; }

/* Project list */
.project-list {
  position: relative;
  list-style: none;
  margin: 0 auto 0 auto;
  max-width: 1200px;
  padding: 0; }
  .project-list:after {
    content: "";
    display: table;
    clear: both; }

.project-list-item {
  display: block;
  width: 33.33%;
  float: left;
  margin-bottom: 5em; }

.filtered {
  opacity: 0; }

.project-list-link {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 300px;
  height: 300px; }

.project-list-thumbnail, .project-list-thumbnail__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain; }
  .project-list-thumbnail img, .project-list-thumbnail__hover img {
    width: 100%;
    height: 100%; }

.project-list-thumbnail__hover {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
          transition: opacity 200ms ease-in; }
  .project-list-thumbnail__hover:hover {
    opacity: 0; }

/* Project List Filter */
.project-list-filter {
  width: 100%;
  height: 89px;
  margin-bottom: 100px; }

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.filter-list-category {
  display: inline;
  float: left;
  width: 33.333%;
  text-align: center;
  height: 89px;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
          transition: background-color 200ms ease; }
  .filter-list-category span {
    font: 135px/0.65 'futura-pt', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white; }
  .filter-list-category:nth-of-type(1) {
    background-color: #93c3cf; }
    .filter-list-category:nth-of-type(1):hover {
      background-color: rgba(147, 195, 207, 0.5); }
    .filter-list-category:nth-of-type(1):active, .filter-list-category:nth-of-type(1).active {
      background-color: white; }
      .filter-list-category:nth-of-type(1):active span, .filter-list-category:nth-of-type(1).active span {
        color: #93c3cf; }
  .filter-list-category:nth-of-type(2) {
    background-color: #f5cdd8; }
    .filter-list-category:nth-of-type(2):hover {
      background-color: rgba(245, 205, 216, 0.5); }
    .filter-list-category:nth-of-type(2):active, .filter-list-category:nth-of-type(2).active {
      background-color: white; }
      .filter-list-category:nth-of-type(2):active span, .filter-list-category:nth-of-type(2).active span {
        color: #f5cdd8; }
  .filter-list-category:nth-of-type(3) {
    background-color: #c2cde9; }
    .filter-list-category:nth-of-type(3):hover {
      background-color: rgba(194, 205, 233, 0.5); }
    .filter-list-category:nth-of-type(3):active, .filter-list-category:nth-of-type(3).active {
      background-color: white; }
      .filter-list-category:nth-of-type(3):active span, .filter-list-category:nth-of-type(3).active span {
        color: #c2cde9; }

.about {
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: white;
  border-top: 1px solid #e0dfdb; }
  @media (max-width: 800px) {
    .about {
      height: auto; } }

.contact-icons {
  margin: 0;
  list-style: none;
  text-align: center; }
  .contact-icons:after {
    content: "";
    display: table;
    clear: both; }

.contact-icons_item {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px; }
  .contact-icons_item:after {
    content: "";
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 50%;
    height: 50%;
    background-image: url('../images/hireme.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: all 300ms ease;
            transition: all 300ms ease; }
  .contact-icons_item:hover:after {
    opacity: 1; }
  @media (min-width: 50em) {
    .contact-icons_item {
      width: 160px;
      height: 160px; } }

.contact-icons_item-link {
  display: block;
  position: relative;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .contact-icons_item-link[data-link='phone'] {
    background-image: url('../images/phone-icon.svg'); }
  .contact-icons_item-link[data-link="resume"] {
    background-image: url('../images/resume-icon.svg'); }
  .contact-icons_item-link[data-link="email"] {
    background-image: url('../images/email-icon.svg'); }

.about-copy {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 2em;
  text-align: center; }
  .about-copy p {
    font-size: 0.7em;
    margin: 0 auto;
    max-width: 42em;
    text-align: justify; }
    @media screen and (max-width: 50em) and (orientation: landscape) {
      .about-copy p {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
        max-width: 100%; } }
  @media (min-width: 50em) {
    .about-copy {
      padding: 0; } }

.about-headline {
  color: #58595b;
  margin-bottom: 0.5em; }

.footer {
  width: 100%;
  height: auto;
  background: #f5cdd8;
  z-index: 2000; }

.footer-back {
  display: block;
  width: 100%;
  text-align: center;
  color: white; }

.footer-social-icons {
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center; }
  @media (min-width: 35em) {
    .footer-social-icons {
      display: block; } }

.footer-social-icons_item {
  display: table-cell;
  padding: 10px;
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease; }
  @media (min-width: 35em) {
    .footer-social-icons_item {
      display: inline-block; } }
  .footer-social-icons_item:hover {
    opacity: 0.6; }

.footer-social-icons_link {
  display: block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  .footer-social-icons_link:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  .footer-social-icons_link[href^="http://www.facebook.com"] {
    background-image: url('../images/icons/facebook.svg'); }
  .footer-social-icons_link[href^="http://www.twitter"] {
    background-image: url('../images/icons/twitter.svg'); }
  .footer-social-icons_link[href^="http://www.linkedin"] {
    background-image: url('../images/icons/linkedin.svg'); }
  .footer-social-icons_link[href^="http://www.tumblr.com"] {
    background-image: url('../images/icons/tumblr.svg'); }
  .footer-social-icons_link[href^="http://www.instagram.com"] {
    background-image: url('../images/icons/instagram.svg'); }

/* Single Post Styles */
.post-header-title {
  margin-top: 100px;
  margin-bottom: 100px; }

.project-logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .project-logo:before, .project-logo:after {
    content: '';
    display: block;
    position: relative;
    top: 54%;
    width: 100%;
    height: 2px; }
  .project-logo:before {
    left: -110%; }
  .project-logo:after {
    left: 110%; }

.project-title {
  text-align: center; }

.post-header-copy {
  margin: 0 auto;
  width: 90%; }

.project-categories {
  list-style: none;
  float: left;
  width: 20%; }

.project-description {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 40px;
  padding: 0 40px; }

.post-container img {
  width: 100%; }

.post-605 .project-title {
  color: #b4d361; }
.post-605 .project-logo:before, .post-605 .project-logo:after {
  background-color: #b4d361; }

.post-ww .project-title {
  color: #f8a18a; }
.post-ww .project-logo:before, .post-ww .project-logo:after {
  background-color: #f8a18a; }

.post-sqtm .project-title {
  color: #e27171; }
.post-sqtm .project-logo:before, .post-sqtm .project-logo:after {
  background-color: #e27171; }

.post-mos .project-title {
  color: #de4344; }
.post-mos .project-logo:before, .post-mos .project-logo:after {
  background-color: #de4344; }

.post-julep .project-title {
  color: #b982b9; }
.post-julep .project-logo:before, .post-julep .project-logo:after {
  background-color: #b982b9; }

.post-do .project-title {
  color: #6e6f2e; }
.post-do .project-logo:before, .post-do .project-logo:after {
  background-color: #6e6f2e; }

/* MEDIAQUERIES */
/* Mobile Only - Very Small Screens */
@media (max-width: 800px) {
  html {
    font-size: 80%; }
  .nav {
    height: 70px; }
  .nav-logo {
    width: 60px;
    height: 60px;
    margin: 5px 15px;
    -webkit-transition: opacity 400ms ease;
            transition: opacity 400ms ease; }
  .nav-button {
    display: block;
    z-index: 2000; }
  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(194, 205, 233, 0.9);
    margin: 0;
    padding: 80px 0 0 0;
    -webkit-transition: all 400ms ease;
            transition: all 400ms ease;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
    .nav-list:after {
      content: "";
      display: table;
      clear: both; }
    .nav-list .f-2 {
      font-size: 6em; }
  .nav-list-item {
    display: block;
    position: relative;
    margin-left: 0;
    padding: 0;
    text-align: center;
    color: white !important; }
  .nav-list-open .nav-logo {
    opacity: 0.5; }
  .nav-list-open .nav-list {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .nav-list-open .headroom--unpinned .nav-list {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  .social-icons {
    display: block; }
  .index-header {
    background-position: center 80px; }
  .index-header-copy-xaxis {
    margin-left: 0; }
  .project-list-filter {
    margin-bottom: 100px; }
  .filter-list-category {
    display: block;
    width: 100%;
    height: 40px; }
    .filter-list-category span {
      font-size: 60px; }
  .project-list {
    margin-bottom: 0; }
  .project-list-item {
    width: 50%;
    margin-bottom: 2em; }
  .project-list-link {
    width: 200px;
    height: 200px; }
  .post-header-title {
    margin-top: 3em;
    margin-bottom: 1em; }
  .project-list-thumbnail__hover {
    opacity: 0; }
    .project-list-thumbnail__hover:hover, .project-list-thumbnail__hover:active {
      opacity: 1; }
  .project-categories {
    float: none;
    clear: both;
    margin-bottom: 1em;
    width: 100%;
    text-align: center; }
  .project-category {
    display: inline;
    margin-right: 1em; }
    .project-category:after {
      content: '|';
      position: relative;
      left: 0.5em; }
    .project-category:last-of-type:after {
      content: ''; }
  .project-description {
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 0; }
  .footer-social-icons {
    display: none;
    visibility: hidden; } }

@media (max-width: 400px) {
  .project-list-item {
    width: 100%; }
  .project-list-link {
    width: 300px;
    height: 300px; } }

@media (min-width: 1279px) {
  .header {
    min-height: 100vh; } }

@media (min-width: 1400px) {
  .f-1-5 {
    font-size: 1.5em; }
  .adjective {
    font-size: 2.6em; } }

.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999; }
